@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1C1D1E;
    color: white;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #F05A22;
    border-radius: 2px;
    min-height: 75px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}